// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* HSL */
$color1: hsla(216%, 16%, 52%, 1);

/* RGB */
$color1: rgba(118, 133, 156, 1);

.product_table {
  border: 5px solid $color1;
  margin: 0 auto;
}